# Keil MDK 忽略文件

## 用户特定文件
# 存储了调试器设置、断点、窗口布局等个人配置
*.uvoptx
*.uvguix*

## 编译输出目录
# 默认的输出文件夹，包含了所有编译生成的文件
Objects/
Listings/
Debugconfig/
RTE/

## 编译过程中生成的具体文件
*.o
*.obj
*.d
*.dep
*.crf
*.lnp
*.axf
*.elf
*.hex
*.bin
*.map
*.htm
*.plg
*.bak
*.iex
*.sct

## 调试器相关文件
JLinkLog.txt
JLinkSettings.ini
*.icf
*.html

# 添加例外：不忽略这个特定的文件
